*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* COLOR FROM SELECTED ITEMS  */
    --homepage: rgba(251,251,251,255);   
    /* COLOR FROM ASSETS PANEL */
    --dark_color: #2D2D2D;
    --text_color_1: #2D2D2D;
    --text_color_2:  #EFEFEF;
    --accent_color_1:  #165824;
    --accent_color_2: #D13977;
    --accent_color_3: #E89CBB;
    --overlay_color_3: #ffebeb;
    --primary_color: #EFEFEF;
    --support_color: #FFCE00;
    --bg_color_1: #FEFEFE;
    --bg_color_2: #2D2D2D;
    --white-bg: #fefefe;
    --error-color: #e63946;
    --error-color-2: #540300;
    --drop_shadow:rgb(14, 36, 51);
    --shadow-color: #dedee6;
    --gradient_1: linear-gradient(180deg, #B92E5E 0%, #D13977 99.29%, #FFCE00 100%, rgba(0, 123, 0, 0.00) 100%);
    --gradient_2: linear-gradient(180deg, #B92E5E 0%, #B92E5E 99.29%, #FFCE00 100%, rgba(0, 123, 0, 0.00) 100%);
    --homebg-color: #ffffff;
    --line-gradient: linear-gradient(#ffffff00, #ffffff, #ffffff);
    --header: radial-gradient(ellipse, #007B00 40%, #FFD02F );
    --header2: radial-gradient(ellipse, #06151b 40%, #06151b );
    --header3: radial-gradient(ellipse, #ffffff 40%, #cacaca );
    --text_font1: "poppins";
    --text_font2: "rubik";
      font-family: "poppins";
  } 
  html{
  font-size: 62.5%;
  height: auto;
  min-height: 100%;
  scroll-behavior: smooth;
  }
  .flex{
  display: flex;
  gap: var ( --gap, 1rem);
  }
  body{
  background-color: var(--bg_color_1);
  /* overflow-x: hidden; */
  position: relative;
  }
  .bg{
    background-color: var(--bg_color_1);
  }
  .heading{
    width: 100%;
    color: var(--primary_color);
    font-size: clamp(3rem, 3vw, 5rem); 
    font-family: var(--text_font2);
    font-weight:bolder;
    flex: 1 1 0;
    text-align: left;
    word-wrap: break-word;
    text-transform:capitalize;
    margin-bottom: 1rem;
  }
  .heading2{
    width: 100%;
    color:var(--accent_color_1);
    font-size: clamp(3rem, 3vw, 5rem); 
    font-family: var(--text_font1);
    font-weight: bolder;
    flex: 1 1 0;
    text-align: left;
    word-wrap: break-word;
    text-transform:capitalize;
    margin-bottom: 1rem;
  }
  .sub-heading{
    width: 100%;
    color:var(--dark_color);
    font-size: clamp(3rem, 2vw, 4rem);
    font-family: var(--text_font2);
    font-weight: bolder;
    flex: 1 1 0;
    text-align: left;
    letter-spacing: 0.25px; 
    word-wrap: break-word;
  }
  .title{
    width: 100%;
    color:var(--dark_color);
    font-size: clamp(3rem, 2vw, 3.6rem);
    font-family: var(--text_font2);
    font-weight: 900;
    flex: 1 1 0;
    text-align: left;
    letter-spacing: 0.25px; 
    word-wrap: break-word;
  }
  .sub-title{
    width: 100%;
    color: var(--dark_color);
    font-size: clamp(1.6rem, 2vw, 2rem);
    font-family: var(--text_font2);
    text-align: center; 
    font-weight: bold;
    flex: 1 1 0;
    text-align: left;
    word-wrap: break-word;
  }
  .details{
    width: 100%;
    color:var(--dark_color);
    font-size: clamp(1.3rem, 2vw, 1.6rem);
    font-family: var(--text_font1);
    font-weight: 400;
    margin-bottom: 1rem;
    flex: 1 1 0;
    text-align: left;
    letter-spacing: 0.25px; 
    word-wrap: break-word;
  }
  .details2{
    width: 100%;
    color:var(--primary_color);
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    font-family: var(--text_font1);
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    flex: 1 1 0;
    text-align: left;
    letter-spacing: 0.25px; 
    word-wrap: break-word;
  }

  .btn{
    width: fit-content;
    height: clamp(4rem, 2vw, 4rem);
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    font-weight: 400;
    border: none;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    padding:  12px 41px; 
    color: var(--text_color_2);
    background: var(--accent_color_1);
    border-radius: 24px; 
    display: inline-flex;
    justify-content: center; 
    align-items: center; 
    /* margin-inline: 10px; */
    gap: 10px; 
    cursor: pointer;
    letter-spacing: 1.25px; 
    word-wrap: break-word;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
    &:hover{
      background: var(--accent_color_3);
      color: var(--text_color_1);
    }
  }
  .btn2{
    width:24rem;
    height: clamp(4rem, 10vw, 4rem);
    color: var(--primary_color);
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    font-weight: 400; 
    background: var(--accent_color_1);
    padding: 6px; 
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    cursor: pointer;
    margin-inline: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.20);
    &:hover{
      background: var(--accent_color_3);
      color: var(--text_color_1);
    }
  }
  .nav{
    width:100%; 
    height: 90px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-bg);
   
    z-index: 1000; 
    transition: all 0.7s ease-out;
  }
  .nav .sub{
    width: 90%; 
    height: 100%;
    padding-inline: clamp(15px, 2vw, 50px); 
    left: 0px; 
    top: 20px; 
    justify-content: center; 
    align-items: center; 
    gap: 0px; 
    display: inline-flex;
    margin: auto;
  }
  .nav .sub .navbrand{
    min-width: fit-content;
    max-width: auto;
    min-height: 70px;
    z-index: 2;
    position: relative; 
    margin-inline: 0%;
    margin-right: clamp(30px, 10vw, 250px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .nav .sub .navbrand .logoMark{
    width:fit-content;
    height: 90px;
  }
  .nav .sub .menu{ 
    display:flex;
    height: 100%;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
  }
  .nav .sub .menu .linkSecInHeader{
    width: auto;
    justify-content: center; 
    align-items: center; 
    gap: 16px; 
    display: flex;
    float: right;
    /* background-color:black; */
  } 
  .nav .sub .menu .linkSecInHeader .menuLink{
    padding: 8px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex;
    /* background-color: #08bcdd; */
  }
  .nav .sub .menu .linkSecInHeader .menuLink:hover a{
    color: var(--accent_color_1);
  
  }
  .nav .sub .menu .linkSecInHeader .menuLink a{ 
    color: var(--dark_color);  
    word-wrap: break-word;
    display: flex;
    text-align: center;
    padding-block: 1rem 1rem;
    text-decoration: none;
    text-transform: none;
    font-family: var(--text_font2);
    font-size: clamp(1rem, 2vw, 1.6rem);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15px;
    cursor: pointer;
  }
  .nav .sub .menu .linkSecInHeader  a.active{
    color: var(--accent_color_1);
  }
  .nav .sub button{ 
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    transition: all 0.3s ease-in-out 0s;
    /* background-color:red; */
  }
  
  .nav .sub .menu .linkSecInHeader .searchbar{
    margin: auto;
    width: clamp(250px, 2vw, 300px);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    border-radius: 40px;
    border: 1px solid var(--accent_color_1);
    background: #FBFBFB;
  }
  .nav .sub .menu .linkSecInHeader .searchbar input{
  
    height: 40px;
    outline: none;
    display: flex;
    padding: 10px 10px;
    align-items: flex-start;
    outline: none;
    border-radius:  40px 0px 0px 40px  ;
    border: 1px solid var();
    margin-bottom: 0px;
    background: var(--light-1);
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    &:focus {
      border: 1px solid transparent;
      box-shadow: 0px 0px 0px 1px #2D2D2D;
      background-color: var(--bg_color_1)
    }
  }
  .nav .sub .menu .linkSecInHeader .searchbar .btn{
    height: 40px;
    border-radius:  0px 50px 50px 0px  ;
    background-color: var(--accent_color_1);
  }
  .nav .sub .menu .linkSecInHeader .searchbar .btn i{
    font-size: 16px;
    color: var(--primary_color);
  }
  .nav .sub .out_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .nav .sub .out_menu .toggleMenu{  
    height: 35px;
    width: 35px;
   
    outline: 1px solid;
    border-radius: 5px;
    outline-color: var(--accent_color_1);
    /* background-color: #08bcdd; */
    color: var(--accent_color_1);
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    z-index: 5000;
  
  }
  .nav .sub .out_menu i{
    font-size: 25px;
    color: var(--accent_color_1);
    margin-inline: 10px;
    float: right;
  }
